@charset "UTF-8";

body {
    background-color: #010409;
}

h2 {
    margin: auto;
    text-align: center;
    font-style: italic;
    font-family:'Courier New', Courier, monospace,;
    color: white;
    min-width: 15.625rem;
    max-width: 11.25rem;
    padding-top: 0.625rem;

}

main {
    text-align: center;
    margin: auto;  
    min-width: 15.625rem;
    max-width: 51.825rem;
    height:31.500rem;
}

.imagem {
    margin: auto;
    border-radius: 50%; 
    width:9.70rem; 
    height: 9.70rem;
 
}

.calc {
    margin: auto;
    background-color: #21262d;
    min-width: 15.625rem;
    max-width: 5.625rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    font-family: 'Courier New', Courier,;
    font-size: 23pt;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

.git {
    border-radius: 50%;
    max-width: 3.000rem;
    margin-top: 2.000rem;
} 

.insta {
    border-radius: 50%;
    max-width: 3.338rem;
    
}